.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-header {
  background-color: orangered;
  color: white;
  position: sticky;
  top: 0;
}

.App-content {
  position: relative;
  top: 60px;
  bottom: 100px;
}

.App-main {
  top: 80px;
}

.App-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.App-nav {
  position: fixed;
  bottom: 50px;
  width: 100%;
}
